html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption,
tbody, tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption, footer,
header, hgroup, menu, nav, output, ruby, section,
summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
strong, b {
  font-weight: bold;
}
em, i {
  font-style: italic;
}
a img {
  border: none;
}
/* END RESET*/

/* GLOBAL STYLES*/
:root {
    --main-bg-color:#dae1f0; 
    --sidemenu-bg: rgba(85, 47, 189, 1);
    --first-dash-color: #000; 
    --default-bg-dashboard: #fff;  
    --shadow-dash: 3px 3px 10px #000; 
  }
html {
  font-family: 'Roboto', sans-serif, arial;
}

/* HOME STYLES*/
.page-container {
    background-color: var(--main-bg-color);
    height: 100vh; 
    position: relative;
}
.page-content {
    background-color: var(--main-bg-color);
    height: auto;
    display: grid;
    grid-template-columns: 1fr;
}

/* SIDEMENU STYLES*/
.side-menu {
    background-color: var(--sidemenu-bg,aqua);
    display: none;  
}
.side-menu a {
    color: #fff;
    display: block; 
    font-size: 1.1rem;
    text-decoration: none;
}
.side-menu a:first-child {
    margin-top: 30vh; 
}
.side-menu > a ~ a {
  margin-top: 8vh; 
}
.bars-sidemenu {
  height: 25px;
  padding: 0.8rem; 
  width: 25px; 
}
.checkbox, .checkbox-label {
  opacity: 1;
  left: 3%; 
  position: absolute;
  top: 1%; 
}
.checkbox:hover, .checkbox-label:hover {
  cursor: pointer;
}
.checkbox:checked  ~ .page-content {
    display: grid;
    grid-template-columns: 1fr 10fr;
}
.checkbox:checked  ~ .page-content .side-menu  {
    display: block;
    text-align: center;
}
.checkbox:checked  ~ .page-content .dashboard-container {
  margin-left: -10%;
}
#checkbox-input {
    display: none; 
}
.checkbox-label img {
  color: #fff;  
}

/* DASHBOARD STYLES*/
.dashboard-container {
    display: grid;
    gap: 2vh; 
    grid-template-columns: 1fr 3fr 3fr 3fr;
    grid-template-rows: 21.1764vh 10.5882vh 10.5882vh 15.8823vh 10.5882vh 21.1764vh; 
    grid-template-areas: 
    ". object1 object2 object3"
    ". object4 object2 object3"
    ". object4 object5 object6"
    ". object4 object5 object6"
    ". object7 object5 object8"
    ". object7 .       object8";
    margin: 4vh 2vh 5vh 0;     
}
.dashboard-container p {
  margin: 0 3vh 0;
}
.dash-object1, .dash-object2, .dash-object3, .dash-object4, 
.dash-object5, .dash-object6, .dash-object7 {
  box-shadow: var(--shadow-dash); 
}
.dash-object1 {
  background-color: var(--first-dash-color);
  display: grid;
  grid-area: object1;
  grid-template-rows: 1fr 3fr;
}
.firstrow-obj1 {
  display: grid;
  grid-template-columns: 4fr 1fr;
}
.title-obj1 {
  color: #fff; 
  min-width: 143px; 
}
.pivotal-logo {
  height: 6vh; 
}
.secondrow-obj1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.empire-obj1, .coding-obj1 {
  background-color: var(--default-bg-dashboard);
  color: #000; 
  padding: 0.8rem; 
  place-self: center center;
  text-decoration: none;
}
.empire-obj1 p, .coding-obj1 p {
  margin-left: 0; 
}
.dash-object2 {
  background-color: var(--default-bg-dashboard);
  display: grid;
  grid-area: object2;
  grid-template-rows: repeat(6, 1fr); 
}
.dash-object2 p {
  place-self: center start;
}
.firstrow-obj2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.dash-object3 {
  background-color: var(--first-dash-color);
  display: grid;
  grid-area: object3;
  grid-template-rows: 1fr 2fr 1fr; 
}
.firstrow-obj3 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.title-obj3 {
  color: #fff; 
  min-width: 143px; 
}
.secondrow-obj3 {
  display: grid;
  grid-template-columns: 5fr 1fr;
}
.progressbar-obj3 {
  background-color: var(--default-bg-dashboard);
  height: 20px;
  width: 80%; 
} 
.fa-euro-sign {
  color: #fff;
} 
.dash-object4 {
  background-color: var(--sidemenu-bg);
  display: grid; 
  grid-area: object4;
  grid-template-rows: repeat(5, 1fr); 
}
.firstrow-obj4 {
  display: grid;
  grid-template-columns: 1fr 4fr;
}
.dash-object4 .square-icon {
  place-self: start start; 
}
.fa-weebly {
  color: #fff;
}
.dash-object5 {
  background-color: var(--sidemenu-bg);
  display: grid;
  grid-area: object5;
  grid-template-rows: 1fr 4fr; 
}
.firstrow-obj5 {
  display: grid;
  grid-template-columns: 1fr 4fr;
}
.dash-object5 .square-icon {
  place-self: start start; 
}
.fa-lightbulb {
    color: #ED7D2F;
}
.dash-object6 {
  background-color: var(--default-bg-dashboard);
  display: grid;
  grid-area: object6; 
  grid-template-rows: 1fr 3fr; 
}
.dash-object6 .square-icon {
  place-self: start start; 
}
.dash-object6 .fa-bed {
  font-size: 5vh;
  color: blue;
}
.firstrow-obj6 {
  display: grid;
  grid-template-columns: 1fr 4fr;
}
.dash-object7 {
  background-color: var(--default-bg-dashboard);
  display: grid;
  grid-area: object7; 
  grid-template-rows: 1fr 3fr; 
  height: 85%; 
}
.dash-object7 .fa-laptop-code {
  font-size: 5vh;
  color: #000;
}
.firstrow-obj7 {
  display: grid;
  grid-template-columns: 4fr 1fr;
}
.dash-object8 {
  display: grid; 
  grid-area: object8; 
  height: 85%; 
}
.dash-object8 .title-dash {
  place-self: end end;
}
.title-dash {
  place-self: center start;
  font-size: 2.5vh;
}
.square-icon {
  background-color: transparent; 
  height: 7vh;
  position: relative;
  place-self: start end; 
  width: 7vh;
}
.icon-dash {
  font-size: 6vh; 
  left: 50%;
  position: relative;
  top: 50%;
  transform: translate(-50%,-50%);
}
